# Object file
*.o

# Ada Library Information
*.ali

*~
*-loc.xml
*.cgpr
b__*.ad[sb]
*.bexch
gnatinspect.*
*.adb.stderr
*.adb.stdout
clang_ref_cache.db

applet/aide/launch_aide
applet/aide/test
.adam-store
library/build
applet/aide/build
applet/navigate/build
launch_test
