Ada Integrated Development Environment (aIDE)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Provide a widget-based Ada IDE.


Must:

  - Allow user to code an applet which can print a message to the console.
  - Allow Ada code generation of the applet.
  - Allow the applet code to be built.
  - Allow the built applet to be run.
  - Applet code must be persistent.
